body {
    background-image: url("../images/trainstation.jpg");
    background-repeat: no-repeat;
    background-position: center;
}
h3 {
  font-family: "Roboto";  
  font-weight: bold;
  border-top: 3px dashed black;
  border-bottom: 3px dashed black;
}
h6 {
    text-decoration: underline;
}
#addButton {
    margin-top: 2.75%;
    margin-left: 4%;
}
.chip {
    display: inline-block;
    position: relative;
    width: 100%;
    text-align: center;
}
.head {
    display:inline-block;
    position: relative;
    width:100%;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1.1px
    
}
.current {
    display: inline-block;
    position:relative;
    width: 100%;
    margin-top: 4%;
    font-weight:bold;
    font-size: 14px;
    color: white;

}